.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 300px;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  background: #ffffff;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.columns {
  --plsmc-rc-col-gap: 0px;
}
.columns {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-height: 400px;
  min-width: 0;
  padding: 8px;
}
.columns > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__nyjyN {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__rrhsM {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 15px;
  text-align: center;
  font-weight: 700;
  min-width: 0;
}
.radioGroup:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 173px;
  height: auto;
  max-width: 100%;
  object-fit: cover;
  row-gap: 5px;
  padding: 8px;
}
.radio__ghEf6:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__hxjWc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.radio__xA5Kl:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__qWvUu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column__hkCoM {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text___4TfE1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 15px;
  text-align: center;
  font-weight: 700;
  min-width: 0;
}
.radioGroup2:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 173px;
  height: auto;
  max-width: 100%;
  object-fit: cover;
  row-gap: 5px;
  padding: 8px;
}
.radio__bVSj:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__xT9IW {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.radio__fC1F:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__elgy8 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
